Importing necessary libraries

In [83]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [14]:
wikipedia_link='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

retrieve standard table using BeautifulSoup

In [3]:
toronto_wiki = requests.get(wikipedia_link)

In [134]:
toronto_wiki = requests.get(wikipedia_link)
soup = BeautifulSoup(toronto_wiki.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))[0]
df.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

Naming Columns

In [135]:
df.columns = df.loc[0,].astype(str)
df.head()

0  Postcode       Borough     Neighbourhood
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

In [136]:
df.drop(0, inplace = True)
df.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

Grouping Values that are repeated

In [142]:
df1 = df.groupby(['Postcode', 'Borough']).agg(lambda col: ', '.join(col))
df1.reset_index(inplace = True)
print(df1.shape)
df1.head()

(180, 3)

0 Postcode       Borough                           Neighbourhood
0      M1A  Not assigned                            Not assigned
1      M1B   Scarborough                          Rouge, Malvern
2      M1C   Scarborough  Highland Creek, Rouge Hill, Port Union
3      M1E   Scarborough       Guildwood, Morningside, West Hill
4      M1G   Scarborough                                  Woburn

Deleating Not Assigned Values

In [145]:
df2 = df1[df1['Borough'] != 'Not assigned']
print(df2.shape)
df2.head()

(103, 3)

0 Postcode      Borough                           Neighbourhood
1      M1B  Scarborough                          Rouge, Malvern
2      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
3      M1E  Scarborough       Guildwood, Morningside, West Hill
4      M1G  Scarborough                                  Woburn
5      M1H  Scarborough                               Cedarbrae